/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 7, 2018, 4:47:05 PM
    Author     : Reid
*/

.panel {
    text-align: center;
    border-width: thick;
    border-color: black;
}

hr {
    border-width: thick;
    border-color: black;
}

h4 {
    text-align: left;
    margin-left:10px;
}

input {
    text-align: center;
}

#mainHeader {
    text-align: center;
}
